body {
  background-color: #f2f2f2;
  font-family: Raleway;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.cf::before,
.cf::after {
  clear: both;
  content: "";
  display: block;
}

.inner {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0px 25px;
}

.inner-header {
  padding: 15px;
}
.faBolt-editted {
  color: #7f7f7f;
  font-size: 60px;
}

.button {
  background-color: #74cfae;
  font-size: 12px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}

.button-header {
  padding: 14px 12px;
  float: right;
  margin: 11px 0;
  width: 79px;
}
.button-header-media766px {
  display: none;
}

.burgerMenu:active {
  background-color: lightblue;
}

#hiddenMenu {
  display: none;
  background-color: #fff;
  color: #fff;
  padding-bottom: 20px;
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
}

#hiddenMenu.is-active {
  display: block;
}

.hiddenMenu-contents {
  background-color: #74cfae;
}

.hiddenMenu-contents {
  padding: 10px;
}

.inner-theme {
  padding: 250px 0;
  margin-top: 90px;
}

.themeSection-header {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #74cfae;
  text-align: center;
}

.themeSection-headerInfo {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
}

.introductionSection {
  background-color: #74cfae;
}

.inner-introduction {
  padding-top: 50px;
}

.introductionSection-iphoneImage {
  text-align: center;
  float: left;
  width: 40%;
}

.introductionSection-rightside {
  color: #fff;
  margin: 0 auto;
  float: right;
  width: 60%;
}

.section-header {
  font-size: 24px;
  text-align: center;
}

.section-header-introduction {
  margin-bottom: 30px;
}

.section-information {
  font-size: 20px;
  text-align: center;
  line-height: 1.4;
}

.worksSection {
  padding: 60px 0 70px;
}

.inner-works {
  position: relative;
}

.worksSection-pictures {
  text-align: center;
}

.worksSection-pictures-grid {
  margin: 40px 0 90px;
  font-size: 0;
}

.worksSection-pictures-grid > li {
  margin-right: 100px;
  float: left;
  opacity: .7;
  width: 27.5%;
}

.worksSection-pictures-grid > li:nth-child(3n+3) {
  margin-right: 0;
}

.worksSection-pictures-grid > li:nth-child(n+4) {
  margin-top: 80px;
}

.worksSection-pictures-grid > li:hover {
  opacity: 1;
}

.worksSection-pictures-adjustWidth {
  width: 100%;
}

.section-information-works {
  margin: 0 90px;
  width: 60%;
  float: left;
}

.button-works {
  padding: 14px 20px;
  text-align: center;
  height: 53px;
  width: 147px;
  line-height: 28px;
  float: left;
}

.button-works:hover {
  color: #333;
}

.skillsSection {
  background-color: #4e4e4e;
}

.inner-skills {
  padding: 70px 25px 100px;
}

.section-header-skills {
  color: #fff;
  margin-bottom: 40px;
}

.skillsSection-grid {
  margin-top: 40px;
}

.skillsSection-grid > li {
  margin: 0 90px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  float: left;
  width: 13.2%;
}

.skillsSection-grid > li:first-child {
  margin-left: 0;
}

.skillsSection-grid > li:last-child {
  margin-right: 0;
}

.inner-snslinks {
  padding: 200px 25px;
}

.snslinks-list {
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}

.snslinks-list > li {
  display: inline-block;
  max-width: 185px;
  text-align: center;
  width: 25%;
}

.snslinks-listLinks {
  display: block;
}
.fa-footer-color {
  color: #74cfae;
  font-size: 45px;
  padding: 32px 0;
}
.snslinks-list > li:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
  width: 100%;
}

.inner-footer {
  padding: 20px 15px 25px 0;
  font-size: 14px;
  text-align: right;
  color: #fff;
}

.fa-heart-footer {
  color: #fff;
  font-size: 14px;
}


@media screen and (max-width:1199px){
  .inner-introduction {
    padding: 50px 0 25px;
    text-align: center;
  }

  .introductionSection-iphoneImage {
    float: none;
    width: 100%;
  }

  .introductionSection-rightside {
    width: 100%;
    float: none;
  }

  .section-header-introduction {
    margin-top: 20px;
    margin-bottom: 35px;

  }

  .section-information-introduction {
    padding: 0 15px;
  }

  .section-information-works {
    padding: 0 20px;
  }

  .worksSection-pictures-grid {
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .worksSection-pictures-grid > li {
    margin: 0 auto;
    font-size: 0;
    float: none;
    width: 100%;
    max-width: 300px;
  }

  .worksSection-pictures-grid > li {
    margin-right: auto;
  }

  .worksSection-pictures-grid > li:nth-child(3n+3) {
    margin-bottom: 80px;
    margin-right: auto;
  }

  .worksSection-pictures-grid > li:nth-child(n+4) {
    margin-top: 0;
  }

  .worksSection-pictures-grid > li:last-child {
    margin-bottom: 0;
  }
  .section-information-works {
    margin: 30px 0 40px;
    float: none;
    width: 100%;
  }

  .button-works {
    margin: 0 auto;
    float: none;
  }

  .skillsSection-grid {
    text-align: center;
  }

  .skillsSection-grid > li:first-child {
    margin-left: auto;
  }

  .skillsSection-grid > li {
    margin: 0 0 88px;
    float: none;
    width: 100%;
  }
}

@media screen and (max-width:766px) {

  .button-header {
    display: none;
  }

  .burgerMenu {
    float: right;
  }

  .button-header-media766px {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 30px;
    font-size: 80px;
    line-height: 12px;
    text-align: center;
    color: #ddd;
  }

  .burger__bar {
    display: block;
    margin-top: 6px;
    border-top: 3px solid #ddd;
  }

  .burger__bar:first-child {
    margin-top: 0;
  }

  .inner-theme {
    padding: 160px 0 130px;
  }

  .themeSection-header {
    font-size: 80px;
  }

  .worksSection-pictures-grid {
    grid-template-columns: 100%;
  }

  .section-information-works {
    padding: 0;
  }
  .inner-snslinks {
    padding: 50px 15px;
  }

  .snslinks-list > li {
    width: 100%;
    float: none;
  }

}